*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    background: url(coffee.avif);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-bar .title{
    color: #fff;
    font-size: 67px;
    font-weight: 600;
    cursor: pointer;
}
span{
    color: crimson;
}
.nav-bar p{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: 0.4s ease;
}
.menu li a:hover{
    color: crimson;
    padding: 5px 10px;
    border: 2px solid #fff;
}
.home{
    height: 400px;
    padding: 70px;
}
.title-1{
    font-size: 56px;
    color: #fff;
    font-weight: 600;
}
.home p{
    color: lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
}
.home button{
    height: 40px;
    color: #fff;
    background: crimson;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.home button:hover{
    background: none;
    border: 2px solid crimson;
}